@model List<ExampleFeatureFlagService.SDK.Models.FeatureFlag>

<h1>Example Application</h1>

<h3>Conditional Features</h3>
<div class="d-flex">
    <div class="flex-item old-feature">
        Some old feature. 🚫
    </div>
    @if (Model.Any(f => f.Name == "NewFeature" && f.IsEnabled))
    {
        <div class="flex-item new-feature">
            The new feature is enabled! 🎉
        </div>
    }
</div>